* {
    margin: 0;
}

.backgroundContain {
    position: fixed;
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -200;
    background-position: center;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 50px;
}

.container {
    max-width: 1200px !important;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.dark-bg {
    background-color: lightgray;
}

.med_logo {
    width: 125px;
    height: auto;
}

.heading {
    height: 50px;
    line-height: 10px;
    font-size: 30px;
    padding-left: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 25;
}

.heading a:hover,
.heading a:visited {
    text-decoration: none;
}

.heading a:visited {
    color: inherit;
}

div.home {
    overflow: hidden;
    position: relative;
}

div.home span:first-child {
    position: absolute;
    top: -50px;
    visibility: hidden;
}

.coverLine {
    width: 100%;
}

div.accountModal {
    max-width: 750px;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
}

.panicAlertMessage {
    margin: 20px 0 20px 0;
}

.s-alert-box-inner {
    text-align: center;
}

.tabContainer {
    padding-top: 5%;
}

.tabContainer .tabTitle {
    color: gray;
    cursor: pointer;
}

.tabContainer .nav-item {
    background-color: white;
}

.navbar {
    width: 1200px;
}

.navbarContainer {
    background-color: #f8f9fa !important;
    border-bottom: 8px solid #085DAD;
    text-align: -webkit-center
}

.nav-link.logoutLink {
    color: rgba(255, 0, 0, .5) !important;
}

.nav-link.logoutLink:hover {
    color: rgba(255, 0, 0, .7) !important;
}

.navName {
    color: black !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

.tabContainer .nav-tabs .active.nav-link h4 {
    color: #007bff;
}

.appLabel {
    width: 30%;
}

.appValue {
    width: 70%;
}

.AppointmentCards div,
.physCard div {
    font-size: 20px;
}

a.navAppBtn.nav-link.active,
a.logOutBtn.nav-link.active {
    border-radius: 5px !important;
}

.btn-success {
    background-color: rgba(30, 126, 52, 0.7) !important;
}

.btn-success:hover {
    background-color: rgba(30, 126, 52, 0.9) !important;
}

.bttn,
a.navAppBtn.nav-link.active,
a.logOutBtn.nav-link.active {
    /* background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none; */
}

.bttn:hover,
a.navAppBtn.nav-link:hover,
a.logOutBtn.nav-link:hover {
    /*background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;*/
}

.mission-container {
    font-size: 18px;
    font-weight: bold;
}

.d-md-block {
    background-color: rgba(0, 0, 0, 0.2);
}

#aboutUs {
    background-image: url(/static/media/bg1.e1b91e00.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.portrait-card {
    background: rgba(221, 221, 221, 0.8);
}

input.contact {
    width: 70%;
    float: right;
}

.adminEpisodeContainer .card-body {
    padding-bottom: 3.75rem;
}

.buttonContainer {
    float: right;
}

.buttonContainer .leftContainer {
    float: left;
}

.buttonContainer .rightContainer {
    float: right;
}

.card-body {
    padding-bottom: 3.25rem !important;
}

.appThisWeekDetail:hover,
.patEnrolledDetail:hover,
.emergNotifDetail:hover {
    cursor: pointer;
    background-color: #eeda90;
}

#contactMessage {
    width: 70%;
    float: right;
    height: 60px;
}

@media screen and (max-width: 450px) {
    .home-container {
        max-width: inherit;
        min-width: inherit;
        margin: 0 auto;
    }
    .jumbotron {
        background: none;
        height: 200px;
    }
    div.home {
        overflow: inherit;
        position: relative;
    }
    .introsurvCardHeader h4 {
        font-size: 0.8rem;
    }
    .btnAnswer {
        font-weight: 400;
        font-size: 0.9rem;
    }
    .subBtnText,
    .questSubmitBtn h4 {
        font-weight: 400;
        font-size: 1.1rem;
    }
    .patSurveyCard .surveyQuestions {
        text-align: center;
        display: contents;
    }
    .introsurvCard {
        padding-bottom: 10px !important;
    }
    h4.registerTab,
    h4.signInTab {
        font-weight: 500;
        font-size: 20px;
    }
    .appLabel {
        display: block;
        width: 100%;
        margin-bottom: 0px;
    }
    .appValue,
    .appLabel {
        font-size: 15px;
    }
    form.validation-form{
        margin: 40px auto;
    } 
    .signInMessage {
        font-size: 14px;
    }
}

@media screen and (max-width: 1200px) {
    .navbar {
        width: inherit;
    }
    .heading {
        height: inherit;
        width: 100%;
    }
    .nav-menu-icon {
        padding: 15px 2px 18px 2px;
    }
    .coverLine {
        display: none;
    }
    .navbar-collapse.show button,
    .navbar-collapse.show .navbar-nav {
        float: right;
    }
    .nav-link {
        padding: 0 10px 0 10px;
    }
    .tabTitle {
        font-size: 18px;
        font-weight: normal;
    }
}