* {
    margin: 0;
}

.backgroundContain {
    position: fixed;
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -200;
    background-position: center;
    /* opacity: .5; */
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 50px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
}

.panicAlertMessage {
    margin: 20px 0 20px 0;
}

.s-alert-box-inner {
    text-align: center;
}

.tabContainer {
    padding-top: 5%;
}

.tabContainer .tabTitle {
    color: #2d5366;
    cursor: pointer;
}

.appLabel {
    width: 30%;
}

.appValue {
    width: 70%;
}

.AppointmentCards div, .physCard div {
    padding: 15px 0 15px 0;
    font-size: 20px;
}