* {
    margin: 0;
}

.backgroundContain {
    position: fixed;
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -200;
    background-position: center;
    /* opacity: .5; */
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 50px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
}

.panicAlertMessage {
    margin: 20px 0 20px 0;
}

.s-alert-box-inner {
    text-align: center;
}

.tabContainer {
    padding-top: 5%;
}

.tabContainer .tabTitle {
    color: #gray;
    cursor: pointer;
}

.tabContainer .nav-item {
    background-color: white;
}

.tabContainer .nav-tabs .active.nav-link {
    background: linear-gradient(to bottom, #8cc739 70%, #ccff99 100%);
}

.appLabel {
    width: 30%;
}

.appValue {
    width: 70%;
}

.AppointmentCards div,
.physCard div {
    font-size: 20px;
}

a.navAppBtn.nav-link.active,
a.logOutBtn.nav-link.active {
    border-radius: 5px !important;
}

.bttn,
a.navAppBtn.nav-link.active,
a.logOutBtn.nav-link.active {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.bttn:hover,
a.navAppBtn.nav-link:hover,
a.logOutBtn.nav-link:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.featureCard {
    background: linear-gradient(to bottom, #8cc739 0%, #ccff99 100%);
}

.navInfo .container {
    display: inline-flex;
}

.tabContainer .tab-pane{
    background-color: white;
}