.panicAlertNotice .panicAlertMessage {
    margin-left: 100px;
    z-index: 100;
    position: fixed;
    position: -webkit-fixed;
    bottom: 10px;
    right: 30px;
}

/* ///////////////////////////////////////////// */

.TableCard {
    margin-bottom: 25px;
}

.TableCard hr {
    background-color: #9eb1bd;
    height: 1px;
}

.TableTitle {
    padding: 10px;
    background-color: #9eb1bd;
}

.TableSubTitle {
    font-weight: bold;
}

.TableText {
    font-size: 15px;
}

.TableHover:hover {
    background-color: #eeda90;
    cursor: pointer;
}

.MenuHover:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.TableCard .admin-btn {
    margin-top: 7px;
    margin-right: 10px;
    font-weight: 500;
    padding: 5px 15px 5px 15px;
    transition-property: background-color, color;
    transition-duration: .2s;
}

.right-align {
    float: right
}
